@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 220, 220, 220;
}

body {
  background-color: rgb(var(--background-rgb));
  min-height: 100vh;
}

.bond-card {
  .MuiCollapse-root {
    .MuiCollapse-wrapper {
      margin: 0;
      padding: 0;
    }
  }

  .card-section:not(:last-child) {
    padding-bottom: 4px;

    @media screen and (max-width: 899px) {
      border-bottom: 2px solid rgb(var(--background-rgb));
    }

    @media screen and (min-width: 900px) {
      border-right: 2px solid rgb(var(--background-rgb));
    }
  }

  .card-entry {
    .MuiTypography-caption {
      color: gray;
      line-height: 1.3;
    }
  }

  .tiny-text {
    display: flex;
    justify-content: end;
    padding-right: 8px;
    color: lightgray;
    font-size: 0.7em;
  }
}

.report-section {
  padding: 8px;
}