@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 240, 240, 240;
}

body {
  background-color: rgb(var(--background-rgb));
  min-height: 100vh;
}

.card-section {
  border-bottom: 1px solid rgb(var(--background-rgb));
  border-right: 1px solid rgb(var(--background-rgb));
}